
@{
    ViewBag.Title = "Welcome";
}

@if (TempData["Success"] != null)
{
    <h4>@TempData["Success"]</h4>
}

<hr />
<div class="jumbotron">
    <div class="container">
        <p id="welcome">Welcome to</p>
        <p id="welcome2">WebAdminsUI</p>
    </div>
</div>

