body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: transparent;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


footer {
    bottom: 0;
    background-color: azure;
    position: fixed;
}

html {
    background-color: darkgrey;
}

/* The background image used on Welcome page*/
.bg {
    background-image: url("Wallpaper-02.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    padding-top: 50px;
    padding-left: 50px;
    font-family: 'Century Gothic';
    font-size: 70px;
}

#welcome2 {
    padding-left: 170px;
    font-family: 'Century Gothic';
    font-size: 100px;
}